aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
extra.mk
fauxdacious.pc
audclient.pc
man/fauxdacious.1
man/fauxdtool.1
src/fauxdacious/fauxdacious
src/fauxdtool/fauxdtool
src/dbus/aud-dbus.c
src/dbus/aud-dbus.h
src/libfauxdcore/audio.h
src/libfauxdcore/tinylock.h
src/libfauxdcore/tests/test
src/libfauxdcore/tests/test-mainloop
src/libfauxdgui/images.c
src/libfauxdgui/images.h
src/libfauxdqt/images.cc
win32/fauxdacious.nsi
win32/override/README.txt
.deps
*.a
*.dep
*.diff
*.dll
*.dylib
*.exe
*.gcda
*.gcno
*.mo
*.moc
*.o
*.patch
*.so
*~
